.panel {
  border-radius: 10px;
  background-color: $border;
  width: 400px;
  min-height: 100px;
  margin: 0 10px;
  color: #c8c8c8;
  padding: 0 10px;
  border: 1px solid $light-border;
  box-shadow: inset 0 0 5px $light-border, 0 0 10px $light-border;
}
