*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: wrap;
}

:root {
  --factor: calc(1vw + 1vh);
  --slogan-gap: calc(var(--factor) * 10);
}

@import './fonts.scss';
@import './ui/panel.scss';
@import './quasar/drawer';
@import './quasar/field';
@import './quasar/label';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-r;
}
body.body--dark {
  background-image: linear-gradient(
    -47deg,
    lighten($dark-page, 10) 0%,
    darken($dark-page, 15) 100%
  );
  color: $text;
  font-family: raleway-r;
  // font-size: calc(var(--factor));
  font-size: 1.2rem;
  overflow-x: hidden;
}

.container {
  padding: 0 7vw;
}

.min-height-87vh {
  min-height: 87vh;
}

.min-width-80vw {
  min-width: 80vw;
}

.no-scroll-y {
  overflow-y: hidden;
}

.table-desktop {
  width: 80%;
  margin: 0 auto;
}

.height-80vh {
  min-height: 80vh;
}

.height-70vh {
  min-height: 65vh;
}
